$primary-grey: #cacaca;
$light-grey: #eee;
$primary-dark: #3d3e3f;

$color-white: #fff;
$color-green: #28a745;
$color-red: #ff0000;
$color-blue: #007bff;

$break-large: 1200px;
$break-medium: 992px;
$break-normal: 767px;
$break-small: 615px;

* {
	font-family: 'Lato', sans-serif;
}

main {
	background-image: url("../img/bg.jpg");
	height: calc( 100vh - 75px );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	box-shadow: 0px 0px 2px $primary-grey;
	background-color: $light-grey;
}

.welcome-box {
	bottom: 0;
	position: absolute;
	margin-bottom: 5%;
	margin-left: 5%;

	@media screen and (max-width: $break-small) {
	    text-align: center;
	    top: 35%;		
	}

	&--main {
		color: $primary-dark;
		font-size: 82px;	

		@media screen and (max-width: $break-small) {
			font-size: 62px;
		}	
	}

	&--small {
		position: relative;
		top: 40px;
		color: $primary-dark;
		font-size: 32px;	

		@media screen and (max-width: $break-small) {
			top: 30px;
		}	
	}

	&--button {
		background: $color-white;
		height: 42px;
		border: 1px solid $primary-dark;
		width: 200px;
		text-transform: uppercase;
		position: relative;
		bottom: 10px;

		&:focus {
			outline: none;
			box-shadow: none;			
		}

		&:hover {
			background: $primary-dark;
			color: $color-white;			
		}
	}
}

.navbar {
	&-customized {
		height: 75px;
		background-color: $color-white;	
		min-width: 445px;	
	}

	&-categories {
		font-size: 18px;
		text-transform: uppercase;
		color: $primary-dark;

		& > span {
			padding: 0px 10px;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}			
		}
	}

	&-right {
		font-size: 18px;
		text-transform: uppercase;
		color: $primary-dark;		

		& > i {
			padding: 0px 5px;
			cursor: pointer;			
		}
	}

	&-search {
		font-size: 12px;
		padding: 3px 10px;
		border: 1px solid $primary-dark;
		position: relative;
		bottom: 2px;	
		
		&:focus {
			outline: none;
		}	
	}
}

.filter {
	&-container {
		text-align: right;
		position: relative;
		margin: 0px 20px;	


		@media screen and (max-width: $break-large) {
			margin: 0px 60px;
		}	

		@media screen and (max-width: $break-medium) {
			margin: 0px 40px;
		}

		@media screen and (max-width: $break-normal) {
			margin: 0px 80px;
		}
	}

	&-expander {
	    display: inline-block;
	    background: $color-white;
	    padding: 8px 15px;
	    border: 1px solid $primary-grey;
	    font-size: 16px;
	    font-weight: bold;
	    cursor: pointer;		
	}

	&-box {
		position: absolute;
	    right: 0;
	    background: $color-white;
	    padding: 15px;
	    border: 1px solid $primary-grey;
	    text-align: left;
	    z-index: 1000;
	    display: none;	
	    
	    & > div {
	    	cursor: pointer;

	    	&:hover {
	    		text-decoration: underline;
	    	}
	    }	
	}
}

.card {
	display: inline-block;
	width: 200px;
	margin: 10px;
	height: auto;
	display: flex;
	flex-direction: column;
	cursor: pointer;

	@media screen and (max-width: $break-small) {
		width: 225px;
	}

	&:hover {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	}

	&-text {
		margin-bottom: 2rem;
	}

	&-bottom {
		position: absolute;
	 	bottom: 15px;
		right: 15px;		
	}

	&-container {
		display: flex;
		flex-wrap: wrap;		
	}
}

.modal {
	&-image {
		width: 100%;
		margin-bottom: 15px;
	}

	&-price {
		border-bottom: 1px solid $primary-grey;
		margin-bottom: 15px;
		font-size: 24px;
		text-align: right;
	}

	&-amount-btn {

		background: none;
		border: 1px solid $primary-grey;
		width: 25px;

		&:focus {
			outline: none;
		}
	}

	&-input {
		width: 75px;
		height: 28px;
		border: 1px solid $primary-grey;
		padding: 3px 10px;	
		
		&:focus {
			outline: none;
		}	
	}

	&-add-to {

		background: $color-green;
		border: 1px solid $color-green;
		color: $color-white;

		&:focus {
			outline: none;
		}
	}

	&-close-btn {
		background: none;
		border: none;
		text-decoration: underline;
		color: $color-red;

		&:focus {
			outline: none;
		}
	}

}

.container--fixed {
	padding-top: 40px;
}

.product-image {
	max-width: 100%;
}


.admin-product-container {
	background-color: $color-white;
}

.table {
	min-width: 635px;
}

.table-image {
	width: 50px;
}

.table-view-btn {
    background: none;
    border: none;
    color: $color-blue;
}

.table-view-btn:focus {
	outline: none;
}

.table-view-btn:hover {
	text-decoration: underline;
}


.table-actions {
	text-align: right;
	padding: 10px 0px;
}

.table-add-product {
	color: $color-white;
    background: $color-green;
    border: 1px solid $color-green;
    padding: 8px;
   	display: inline-block;
    margin: 5px;
}

.table-add-product:hover {
	color: $color-white;
}

.actions > a {
	padding: 0px 6px;
}

.paginator {
	padding-bottom: 10px;
}

.paginator > .pagination > li {
	padding-right: 5px;
}

.admin-product-container-list {
	padding: 15px;
	min-width: 635px;
}

.admin-product-container-modify {
	padding: 15px;
}

.admin-product-container-modify .input label {
	display: block;
	margin-bottom: 0px;
	margin-top: 5px;
}

.admin-product-container-modify .input input, .admin-product-container-modify .input textarea {
	width: 100%;
	padding: 3px 10px;
}

.admin-product-container-modify input[type="file"] {
	padding: 0px;
}

.admin-product-container-modify button[type="submit"] {
	color: $color-white;
    background: $color-green;
    border: 1px solid $color-green;
    padding: 5px 8px;
   	display: inline-block;
   	margin: 10px 0px;
}

.edit-image-current {
	position: relative;
	top: 5px;
    margin-top: 15px;
}

.edit-image {
	width: 125px;
	margin: 0px 0px 15px 0px;
}

.cart-container {
	cursor: pointer;
	display: inline-block;
}

.cart-container-items-container {
    position: absolute;
    background: $color-white;
    border: 1px solid $primary-dark;
    right: 20px;
    margin-top: 5px;
    z-index: 1000;
    padding: 15px;	
}

.cart-item-count {
    position: absolute;
    top: 55%;
    color: $color-red;
    font-size: 12px;
    padding: 3px 7px;
}

.background-card {
	background-color: $color-white;
	padding: 15px;
}

.green-btn {
	background: $color-green;
	border: 1px solid $color-green;
	color: $color-white;
}

.red-btn {
	background: $color-red;
	border: 1px solid $color-red;
	color: $color-white;
}

.green-btn:focus, .red-btn:focus {
	outline: none;
}

.checkout-total {
	text-align: right;
}

.alert.alert-success {
	width: 100%;
	text-align: center;
	background: $color-green;
	border: 1px solid $color-green;
	color: white;
}

.no-products-in-cart {
	color: red;
	text-align: center;
}

.card-img-top {
	max-height: 130px;
}