* {
  font-family: 'Lato', sans-serif; }

main {
  background-image: url("../img/bg.jpg");
  height: calc( 100vh - 75px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 0px 0px 2px #cacaca;
  background-color: #eee; }

.welcome-box {
  bottom: 0;
  position: absolute;
  margin-bottom: 5%;
  margin-left: 5%; }
  @media screen and (max-width: 615px) {
    .welcome-box {
      text-align: center;
      top: 35%; } }
  .welcome-box--main {
    color: #3d3e3f;
    font-size: 82px; }
    @media screen and (max-width: 615px) {
      .welcome-box--main {
        font-size: 62px; } }
  .welcome-box--small {
    position: relative;
    top: 40px;
    color: #3d3e3f;
    font-size: 32px; }
    @media screen and (max-width: 615px) {
      .welcome-box--small {
        top: 30px; } }
  .welcome-box--button {
    background: #fff;
    height: 42px;
    border: 1px solid #3d3e3f;
    width: 200px;
    text-transform: uppercase;
    position: relative;
    bottom: 10px; }
    .welcome-box--button:focus {
      outline: none;
      box-shadow: none; }
    .welcome-box--button:hover {
      background: #3d3e3f;
      color: #fff; }

.navbar-customized {
  height: 75px;
  background-color: #fff;
  min-width: 445px; }

.navbar-categories {
  font-size: 18px;
  text-transform: uppercase;
  color: #3d3e3f; }
  .navbar-categories > span {
    padding: 0px 10px;
    cursor: pointer; }
    .navbar-categories > span:hover {
      text-decoration: underline; }

.navbar-right {
  font-size: 18px;
  text-transform: uppercase;
  color: #3d3e3f; }
  .navbar-right > i {
    padding: 0px 5px;
    cursor: pointer; }

.navbar-search {
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid #3d3e3f;
  position: relative;
  bottom: 2px; }
  .navbar-search:focus {
    outline: none; }

.filter-container {
  text-align: right;
  position: relative;
  margin: 0px 20px; }
  @media screen and (max-width: 1200px) {
    .filter-container {
      margin: 0px 60px; } }
  @media screen and (max-width: 992px) {
    .filter-container {
      margin: 0px 40px; } }
  @media screen and (max-width: 767px) {
    .filter-container {
      margin: 0px 80px; } }

.filter-expander {
  display: inline-block;
  background: #fff;
  padding: 8px 15px;
  border: 1px solid #cacaca;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

.filter-box {
  position: absolute;
  right: 0;
  background: #fff;
  padding: 15px;
  border: 1px solid #cacaca;
  text-align: left;
  z-index: 1000;
  display: none; }
  .filter-box > div {
    cursor: pointer; }
    .filter-box > div:hover {
      text-decoration: underline; }

.card {
  display: inline-block;
  width: 200px;
  margin: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer; }
  @media screen and (max-width: 615px) {
    .card {
      width: 225px; } }
  .card:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); }
  .card-text {
    margin-bottom: 2rem; }
  .card-bottom {
    position: absolute;
    bottom: 15px;
    right: 15px; }
  .card-container {
    display: flex;
    flex-wrap: wrap; }

.modal-image {
  width: 100%;
  margin-bottom: 15px; }

.modal-price {
  border-bottom: 1px solid #cacaca;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: right; }

.modal-amount-btn {
  background: none;
  border: 1px solid #cacaca;
  width: 25px; }
  .modal-amount-btn:focus {
    outline: none; }

.modal-input {
  width: 75px;
  height: 28px;
  border: 1px solid #cacaca;
  padding: 3px 10px; }
  .modal-input:focus {
    outline: none; }

.modal-add-to {
  background: #28a745;
  border: 1px solid #28a745;
  color: #fff; }
  .modal-add-to:focus {
    outline: none; }

.modal-close-btn {
  background: none;
  border: none;
  text-decoration: underline;
  color: #ff0000; }
  .modal-close-btn:focus {
    outline: none; }

.container--fixed {
  padding-top: 40px; }

.product-image {
  max-width: 100%; }

.admin-product-container {
  background-color: #fff; }

.table {
  min-width: 635px; }

.table-image {
  width: 50px; }

.table-view-btn {
  background: none;
  border: none;
  color: #007bff; }

.table-view-btn:focus {
  outline: none; }

.table-view-btn:hover {
  text-decoration: underline; }

.table-actions {
  text-align: right;
  padding: 10px 0px; }

.table-add-product {
  color: #fff;
  background: #28a745;
  border: 1px solid #28a745;
  padding: 8px;
  display: inline-block;
  margin: 5px; }

.table-add-product:hover {
  color: #fff; }

.actions > a {
  padding: 0px 6px; }

.paginator {
  padding-bottom: 10px; }

.paginator > .pagination > li {
  padding-right: 5px; }

.admin-product-container-list {
  padding: 15px;
  min-width: 635px; }

.admin-product-container-modify {
  padding: 15px; }

.admin-product-container-modify .input label {
  display: block;
  margin-bottom: 0px;
  margin-top: 5px; }

.admin-product-container-modify .input input, .admin-product-container-modify .input textarea {
  width: 100%;
  padding: 3px 10px; }

.admin-product-container-modify input[type="file"] {
  padding: 0px; }

.admin-product-container-modify button[type="submit"] {
  color: #fff;
  background: #28a745;
  border: 1px solid #28a745;
  padding: 5px 8px;
  display: inline-block;
  margin: 10px 0px; }

.edit-image-current {
  position: relative;
  top: 5px;
  margin-top: 15px; }

.edit-image {
  width: 125px;
  margin: 0px 0px 15px 0px; }

.cart-container {
  cursor: pointer;
  display: inline-block; }

.cart-container-items-container {
  position: absolute;
  background: #fff;
  border: 1px solid #3d3e3f;
  right: 20px;
  margin-top: 5px;
  z-index: 1000;
  padding: 15px; }

.cart-item-count {
  position: absolute;
  top: 55%;
  color: #ff0000;
  font-size: 12px;
  padding: 3px 7px; }

.background-card {
  background-color: #fff;
  padding: 15px; }

.green-btn {
  background: #28a745;
  border: 1px solid #28a745;
  color: #fff; }

.red-btn {
  background: #ff0000;
  border: 1px solid #ff0000;
  color: #fff; }

.green-btn:focus, .red-btn:focus {
  outline: none; }

.checkout-total {
  text-align: right; }

.alert.alert-success {
  width: 100%;
  text-align: center;
  background: #28a745;
  border: 1px solid #28a745;
  color: white; }

.no-products-in-cart {
  color: red;
  text-align: center; }

.card-img-top {
  max-height: 130px; }
